<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD</title>
</head>
<body>
    <h1>ADD New User </h1>
    <form action="/addproduct" method="post">
        <input type="text" placeholder="Product Name" name="productname" required><br><br>
        <input type="text" placeholder="Address" name="address" required><br><br>
        <input type="number" placeholder="Quantity" name="quantity" required><br><br>
        <input type="Date"  name="date" required><br><br>
        <input type="submit" value="Add Product"><br><br>
    </form>
    <button><a href="/">Back</a></button>
</body>
</html>