<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hii i am Home page ok</h1>
    <button><a href="view">Show Orders</a></button>
    <button><a href="add">Add New Order</a></button>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
</body>
</html>